*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction:row;
    font-family: Copperplate / Copperplate Gothic Light, sans-serif;
    justify-content: space-between;
    
    /*color del menú*/
    background-color: background-color: #cf7500;
    background-image: linear-gradient(113deg, #cf7500 0%, #f0a500 50%, #fff76a 100%);
    padding: 10px 0px 10px 35px;
    color: #ffffff;
    
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.nav{
    list-style: none;
    width: 300px;
    font-size: 17px;
    font-family: Copperplate / Copperplate Gothic Light, sans-serif;
    
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: black;
}

